.App {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}

.main-body-container {
  display: flex;
  justify-content: space-around;
  width: calc(100% - 100px);
  padding: 50px;
  /* border: 2px solid green; */
}